################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/c-shap-upload-to-aws-s3
/c-shap-upload-to-aws-s3/bin
/c-shap-upload-to-aws-s3/obj/Debug
/packages
